/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  color: #2980b9;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Header Styles */

.header {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.header:hover::before {
  left: 100%;
}

.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  position: absolute;
}

.logo img {
  width: 100px;
  height: 50px;
  margin-right: 10px;
}

.navbar a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  margin-left: 35px;
  font-weight: bold;
  transition: 0.5s ease;
}

.navbar a:hover {
  color: #3498db;
  background-color: #000000;
}

/* Responsive Header Styles */

@media (max-width: 768px) {
  .header {
    padding: 20px 50px;
  }
  .logo {
    font-size: 20px;
  }
  .navbar a {
    font-size: 18px;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 20px 20px;
  }
  .logo {
    font-size: 18px;
  }
  .navbar a {
    font-size: 16px;
    margin-left: 10px;
  }
}

/* Home Section Styles */

#home {
  padding: 100px;
  background-image: url('home.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
  z-index: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home h1 {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 20px;
}

#home p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}

#home button {
  padding: 20px 25px;
  border-radius: 55px;
  background-color: #ffffff;
  transition: background-color 0.5s ease;
  font-weight: bold;
}

#home button:hover {
  background-color: #000000;
}

/* Responsive Home Section Styles */

@media (max-width: 768px) {
  #home {
    padding: 50px;
  }
  #home h1 {
    font-size: 40px;
  }
  #home p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  #home {
    padding: 20px;
  }
  #home h1 {
    font-size: 30px;
  }
  #home p {
    font-size: 16px;
  }
}

/* About Section Styles */

#about {
  padding: 100px;
  background-image: url('about.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about h2 {
  font-size: 40px;
  color: #f8f8f8;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}

.about a {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 55px;
  transition: background-color 0.5s ease;
}

.about a:hover {
  background-color: #000000;
}

/* Responsive About Section Styles */

@media (max-width: 768px) {
  #about {
    padding: 50px;
  }
 .about h2 {
    font-size: 30px;
  }
 .about p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  #about {
    padding: 20px;
  }
 .about h2 {
    font-size: 24px;
  }
 .about p {
    font-size: 14px;
  }
}

/* Services Section Styles */

#services {
  padding: 100px;
  background-color: #ffffff;
  text-align: center;
  font-size: 24px;
  background-image: url(59272.jpg);
}

.service-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.service {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 50px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.service:hover {
  transform: translateY(-5px);
}

.service i {
  font-size: 48px;
  color: #3498db;
  margin-bottom: 20px;
}

.service h3 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.service p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

/* Responsive Services Section Styles */

@media (max-width: 768px) {
  #services {
    padding: 50px;
  }
 .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }
 .service {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  #services {
    padding: 20px;
  }
 .service-grid {
    grid-template-columns: repeat(1, 1fr);
  }
 .service {
    flex-basis: 100%;
  }
}

/* Course Catalog Section Styles */

#courses {
  background-image: linear-gradient(to bottom, #319d5a, #1846af);
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.course {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.course p {
  font-size: 14px;
  margin-bottom: 20px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border: 5px solid #ddd;
  border-radius: 10px;
}

.original-price {
  font-size: 14px;
  color: #666;
  text-decoration: line-through;
}

.discount-price {
  font-size: 18px;
  color: #337ab7;
  font-weight: bold;
}

button {
  background-color: #ffffff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.full-course {
  background-color: #0e0e0e;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.full-course h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.full-course p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Responsive Course Catalog Section Styles */

@media (max-width: 768px) {
  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .course {
    padding: 10px;
  }
  .price {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .course-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .course {
    padding: 5px;
  }
  .price {
    padding: 5px;
  }
}

/* Toppers Section */

#toppers {
  background-color: #f9f9f9;
  padding: 40px;
}

#toppers h1 {
  text-align: center;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-bottom: 40px;
}

.topper-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.topper {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.topper img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.topper h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.topper p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

/* Responsive Toppers Section Styles */

@media (max-width: 768px) {
  .topper-grid {
    grid-template-columns: 1fr;
  }
}

/* Additional styles for spacing and layout */

#toppers {
  margin: 40px 0;
}

.topper {
  margin-bottom:0px;
}

/* Contact Section */

#contact {
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact h2 {
  margin-top: 0;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

/* Input Fields */

.input-box {
  margin-bottom: 20px;
  color: #ffffff;
}

.input-field {
  margin-bottom: 10px;
}

.input-field label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
}

.input-field input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}
/* Message Box */

.input-field textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #444444;
  height: 250px; /* Make the message box bigger */
  resize: vertical;
}

/* Button */

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

button[type="submit"]:active {
  background-color: #3e8e41;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Address */

address {
  font-style: normal;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

address p {
  margin-bottom: 10px;
}

address a {
  text-decoration: none;
  color: #337ab7;
}

address a:hover {
  color: #23527c;
}

/* Responsive Contact Section Styles */

@media (max-width: 768px) {
  #contact {
    padding: 20px;
  }
  .input-box {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  #contact {
    padding: 10px;
  }
  .input-box {
    margin-bottom: 5px;
  }
}

/* Footer Section Styles */

#footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer a:hover {
  color: #ccc;
  transition: all 0.3s ease-in-out;
}

/* Responsive Footer Section Styles */

@media (max-width: 768px) {
  #footer {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  #footer {
    padding: 5px;
  }
}
